name: Ruff

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Codes
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"
      
      - name: Install Dependencies
        run: |
          pip install ruff
          pip install -r requirements.txt

      - name: Run Ruff
        run: |
          ruff check --output-format=github .